# Ignore everything
/*

# But not these files
!.gitignore
!package.json
!init-project.js

!.vscode/
.vscode/*

!.vscode/settings.json

!.github/
.github/*
!.github/workflows/
.github/workflows/*

!.github/workflows/maven.yml

!modules/
modules/*
!modules/openapi-generator/
modules/openapi-generator/*
!modules/openapi-generator/src/
modules/openapi-generator/src/*
!modules/openapi-generator/src/main/
modules/openapi-generator/src/main/*
!modules/openapi-generator/src/main/java/
modules/openapi-generator/src/main/java/*
!modules/openapi-generator/src/main/java/org/
modules/openapi-generator/src/main/java/org/*
!modules/openapi-generator/src/main/java/org/openapitools/
modules/openapi-generator/src/main/java/org/openapitools/*
!modules/openapi-generator/src/main/java/org/openapitools/codegen/
modules/openapi-generator/src/main/java/org/openapitools/codegen/*
!modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/
modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/*

!modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDenoServerCodegen.java
!modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DenoOakServerCodegen.java

!modules/openapi-generator/src/main/resources/
modules/openapi-generator/src/main/resources/*
!modules/openapi-generator/src/main/resources/deno-server/

!bin/
bin/*
!bin/configs/
bin/configs/*

!bin/configs/deno-server-petstore.yaml
!bin/configs/deno-oak-server-petstore.yaml

!samples/
samples/*
!samples/server/
samples/server/*
!samples/server/petstore/
samples/server/petstore/*
!samples/server/petstore/deno/
samples/server/petstore/deno/*

!samples/server/petstore/deno/oak/
samples/server/petstore/deno/oak/*

!samples/server/petstore/deno/oak/*

!samples/server/petstore/deno/agnostic/
samples/server/petstore/deno/agnostic/*

!samples/server/petstore/deno/agnostic/*