{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
{{#-first}}
export { {{classname}}Controller } from './{{classname}}Controller';
{{/-first}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}