import { join, path } from "./deps.ts";

const __dirname = path.dirname(path.fromFileUrl(import.meta.url));

const customConfig = {
  ROOT_DIR: __dirname,
  URL_PORT: {{serverPort}}{{^serverPort}}3000{{/serverPort}},
  URL_PATH: '{{serverHost}}{{^serverHost}}http://localhost{{/serverHost}}',
  BASE_VERSION: '{{contextPath}}{{^contextPath}}v2{{/contextPath}}',
  CONTROLLER_DIRECTORY: join(__dirname, 'controllers'),
  PROJECT_DIR: __dirname,
};

export const config = {
  OPENAPI_YAML: join(customConfig.ROOT_DIR, "api", "openapi.yaml"),
  FULL_PATH: `${customConfig.URL_PATH}:${customConfig.URL_PORT}/${customConfig.BASE_VERSION}`,
  FILE_UPLOAD_PATH: join(customConfig.PROJECT_DIR, "uploaded_files"),
};
