/**
 * This module re-exports the required dependencies.
 */
export { join } from "https://deno.land/std@0.126.0/path/mod.ts";
export { camelCaseSync } from "https://deno.land/x/camelcase@v1.0.0/mod.ts";
export * as path from "https://deno.land/std@0.126.0/path/mod.ts";
export { Application, Router } from "https://deno.land/x/oak@v10.2.1/mod.ts";
export type { RouterContext } from "https://deno.land/x/oak@v10.2.1/mod.ts";