{{#imports}}
import { {{classname}} } from '../models/{{classname}}.ts';
{{/imports}}

export interface {{classname}}Service {

  {{#operations}}
  {{#operation}}
  /**
  {{#summary}}
  * {{{.}}}
  {{/summary}}
  {{#notes}}
  * {{{.}}}
  {{/notes}}
  *
  {{#allParams}}
  * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
  {{/allParams}}
  {{^returnType}}
  * no response value expected for this operation
  {{/returnType}}
  {{#returnType}}
  * returns {{{.}}}
  {{/returnType}}
  * */
  {{{operationId}}} ({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/allParams}}) : {{^returnType}}void{{/returnType}}{{#returnType}}{{{.}}}{{/returnType}};
  {{/operation}}
  {{/operations}}

}
