import { assertEquals, fail } from "https://deno.land/std@0.127.0/testing/asserts.ts";
import { readerFromStreamReader, readAll } from "https://deno.land/std@0.127.0/streams/conversion.ts";

// Test all routes from example which always returns an error: this tests is built to check if all routes are generated.
// deno test --allow-net --unstable DenoPetStoreExampleRouteTests.ts

const client = Deno.createHttpClient({});

{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
Deno.test("check if route exists for service: {{classname}}Service >> {{{operationId}}}", async() => {
    const localVarPath = `{{{path}}}`{{#pathParams}}.replace(`{${"{{baseName}}"}}`, stubParameter("{{{dataType}}}")){{/pathParams}};

    const res = await fetch("http://localhost:3000" + localVarPath, {
        method: "{{httpMethod}}",
        client
    });

    const responseReader: ReadableStreamDefaultReader<Uint8Array> | undefined = await res.body?.getReader();
    assertEquals(res.status, 500);

    if (responseReader) {
        const reader: Deno.Reader = readerFromStreamReader(responseReader);
        const charArray: Uint8Array = await readAll(reader);
        const jsonObj = JSON.parse(new TextDecoder().decode(charArray));
        assertEquals(jsonObj.code, 500);
        assertEquals(jsonObj.error, "Method not implemented yet: {{classname}}Service >> {{{operationId}}}");
    } else {
        fail("Cannot read body");
    }
});

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

Deno.test("404 status", async() => {
    const res = await fetch("http://localhost:3000/zhykos404", {
        method: "GET",
        client
    });
    await res.body?.cancel();
    assertEquals(res.status, 404);
});

function stubParameter(paramType: string): string {
    if (paramType == "number") {
        return encodeURIComponent(String("1"));
    }
    if (paramType == "string") {
        return encodeURIComponent(String("foo"));
    }
    throw new Error("Unknown type to stub: " + paramType);
}